.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario- Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario- Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario-"
    "Home Cute-picture Cute-picture"
    "Funny Cute-picture Cute-picture";
}

.Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario- { grid-area: Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario-Vincentmario-; }

.Home { grid-area: Home; }

.Funny { grid-area: Funny; }

.Cute-picture { grid-area: Cute-picture; }
